<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taco Boys Taco Bar</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

  <div class="wrapper">
    <header>
        <h1 class="has-text-black px-3 py-3 has-text-weight-bold">Place Your Order Now</h1>
        <nav class="navbar mt-2">
            {{#if loggedIn}}
            <a href="/" class="navbar-item is-hoverable pt-1">homepage</a>
            <a href="/dashboard" class="navbar-item is-hoverable pt-1">dashboard</a>
            <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">create order</a>
            <button id="logout" class="button is-danger">logout</button>
            {{else}}
            <a href="/" class="navbar-item is-hoverable pt-1">homepage</a>
            <a href="/login" class="button is-primary">login</a>
            {{/if}}
        </nav>
    </header>

    <main>
            <body>
    <header>
        <div class="row"> 
        <div id="social-links" class="col l4 m3 s12">
          <ul>
            <li><a href="https://facebook.com" target="_blank" class="fa fa-facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="fa fa-twitter"></a></li>
            <li><a href="https://instagram.com" target="_blank" class="fa fa-instagram"></a></li>
            <li><a href="https://youtube.com" target="_blank" class="fa fa-youtube"></a></li>
          </ul>  
        </div>
      <div class="col l4 m12 s12">

            <img src="./assets/images/TBTB logo.jpg" alt="Taco Boys Taco Bar Logo" class="logo">
        
        </div>
    </div>

        <div class="divider"></div>
        <div class="divider"></div>
        <h3>
            Free Tortilla Chips with Every Order...
        </h3>
    </header>





    <main>
        <div class="container">
            
<!-- menu -->
<div class="row">
         
                <h2 class="text1">
                    SIGN IN
                </h2>
                <h2 class="text2"> 
                    to see your 
                </h2>
                <h2 class="text3">
                    Past Orders
                 </h2>
         
            </form>
         
</div>

    <div class="col l4 m4 s12">
      <div class="card">
        <div class="card-image">
          <img src="./assets/images/T1.jpeg">
          <span class="card-title">Taco Combo #1</span>
        </div>
        <div class="card-content center">
          <p>Our Taco Combo #1 is stacked high with glorious meats and cheeses.
          Buyer beware, you may drool over this taco plate.</p>
        </div>
        <p class="price">
            $10.00
          </p>
        <div class="card-action center">
          <a href="#">ORDER NOW</a>
        </div>
      </div>
    </div>
  
    <div class="col l4 m4 s12">
      <div class="card">
        <div class="card-image">
          <img src="./assets/images/T2.jpeg">
          <span class="card-title">Taco Combo #2</span>
        </div>
        <div class="card-content center">
          <p>Our Taco Combo #2 is loaded with all the vegetables you could imagine.
            Let's healthen up with this delicious taco plate.
          </p>
        </div>
        <p class="price">
            $12.00
          </p>
        <div class="card-action center">
          <a href="#">ORDER NOW</a>
        </div>
      </div>
    </div>

    
</div>
  

    <div class="row">

        <div class="col s4"></div>
    <div class="col l4 m4 s12">
      <div class="card">
        <div class="card-image">
          <img src="./assets/images/T3.jpeg">
          <span class="card-title">Taco Combo #3</span>
        </div>
        <div class="card-content center">
          <p>Taco Combo #3 may literally knock your socks off.  Many people often call 
            this combo the "Bare Foot" taco plate.
          </p>
        </div>
        <p class="price">
            $14.00
          </p>
        <div class="card-action center">
          <a href="#">ORDER NOW</a>
        </div>
      </div>
    </div>
 
    <div class="col l4 m4 s12">
      <div class="card">
        <div class="card-image">
          <img src="./assets/images/T4.jpeg">
          <span class="card-title">Taco Combo #4</span>
        </div>
        <div class="card-content center">
          <p>If you're feeling extra awesome today, you'll love our Taco Combo #4.  People
            from all over the world come to have this glorious taco plate.</p>
        </div>
        <p class="price">
            $15.00
          </p>
        <div class="card-action center">
          <a href="#">ORDER NOW</a>
        </div>
      </div>
    </div>

</div>  
        
        </div>
        </main>

        <!-- FOOTER -->
<footer>
    <h5 class="black-text">CALL IN ORDER 512-709-2077</h5>
<div class="footer-copyright">
  © 2022 Copyright by Daniel, Hayden, & JP.
  
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>
    </main>

    <footer class="footer rows pb-2">
        <div class="row-is-full content has-text-centered">
            <p>
            <a href="/">homepage</a>{{#if loggedIn}} | 
            <a href="/dashboard/">dashboard</a> | 
            <a href="/dashboard/create/">create new order</a>
            {{else}}
             | <a href="/login/">login</a>
            {{/if}}
            </p>
        </div>
      <div class="row-is-full content has-text-centered">
  </div>
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>