* {
    padding: 0;
    margin: 0;
}

/* ===================================*/
/* HEADER STYLES */

/* Heading styles */
h1  {
    display: inline-block
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight:300;
    margin-top: 10px;
    text-align: center;
}

h4 {
    font-size: 20px;
    margin: 5px auto 10px auto;
    font-weight:300;
}

h5  {
    text-align: center;
    padding-top: 20px;
}

.logo  {
    display: inline;
}

#social-links  {
    display: inline;
    padding-top: 470px;
}

.price  {
    padding-left: 20px;
    font-style: italic;
}

/* UTILITY STYLES */
.flex {
    display: flex;
}

.hidden {
   display: none;
}

li  {
   display: inline-block;
}

a {
    color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(56, 28, 213);
  text-decoration: underline;
}  


.fa-facebook,
.fa-twitter,
.fa-instagram, 
.fa-youtube {
    padding: 10px;
    margin: 5px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: rgb(105, 102, 102);
  }

  form  {
    border-radius: 20px;
    background-color: rgb(68, 67, 64);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

.text1  {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 50px;
    text-align: center;
}

.text2  {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
    font-size: 20px;
    text-align: center;
}

.text3  {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
}

footer  {
    background-color: bisque;
}

/* ===================================*/
/* MEDIA QUERIES */  
@media screen and (max-width: 992px) {

    #social-links  {
        display: none;
    }

    .logo  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
  
}

@media screen and (max-width: 1450px) {

    .text2  {
        display: none;
    }

    .text3  {
        display: none;
    }
  
}